<div style="font-family:'Arial Unicode MS'">


    <h2>Ritesh Sinha</h2>
    <text>
        <p>
            Mobile no :07475496239
        </p>
    </text>
    <text>
        <p>
            Email: Monty.Sinha2013@live.co.uk
        </p>
    </text>
    <text>
        Address: 1 Newbury Drive Stretton, Burton upon Trent, UK
    </text>
    <text>
        <p>
            Postcode/ Zip: DE13 0FR
        </p>
    </text>
    <h4>
        Associate Profile
    </h4>
    <text>
        <p>
            I am talented Associate software engineer who is looking to advance his skills in web and software development. I am enthusiastic person I have a passion for technology I like doing IT because I find it fascinating and challenging it also give me a chance to creative and innovative.
        </p>

        <p>
            My Passion is developing software because it’s given me the chance to be creative and productive. I love challenges and I love to push myself to the next level.
        </p>
        <p>
            I develop individual projects during my spare time I have developed web applications like an Airport management system in MVC C#.
        </p>
        <p>
            I have worked with clients as a offshore web developer doing mainly front end type projects. I have been invovled with different types of projects.
        </p>

    </text>

    <h5>
        Education
    </h5>

    <h5>
        <strong>
            Masters of business administration MBA
        </strong>
        <text>
            <p>
                2014-2015
            </p>
        </text>
        <text>
            <p>
                Indian School of Business Management and Administration
            </p>
        </text>
    </h5>


    <h5>
        <strong>
            Diploma in Business Management
        </strong>
        <text>
            <p>
                2013-2014
            </p>
        </text>
        <text>
            <p>
                Indian School of Business Management and Administartion
            </p>
        </text>

    </h5>

    <h5>
        <strong>
            Programming in C 2 014-2014
        </strong>
        <text>
            <p>
                NIIT
            </p>
        </text>


        <h5 />



        <h5>
            Associate Work Experience
        </h5>
        <h4>
            Vaya Digital Intelligence
            <text>
                <p>
                    December 2016- May 2017
                </p>

            </text>


        </h4>
        <text>
            <p>
                Remote Working
            </p>
            <h5>
                <strong>
                    Client: Scott Law Group
                </strong>
            </h5>

            <h5>
                Postition: Web Editor
            </h5>
            <p>
                Project: Scott Law Group Homepage
            </p>
            <p>
                <b>
                    Description:
                </b>
            </p>
            <p>
                Scott Law Group is law firm based in Texas, United States which had multiple locations. They are family based law firm. The project was developed in WordPress and need some editing it was successfully launched on 14th march 2017
            </p>
            <p>
                <strong>
                    Responsibilities:
                </strong>
            </p>
            <p>
                <ul>
                    <li>
                        Edit any page that needed some polishing
                    </li>
                </ul>

            </p>
            <p>

                <ul>
                    <li>
                        Change the wording on the page
                    </li>
                </ul>
            </p>
            <p>
                <ul>
                    <li>
                        Adjust the height and width of a page using WordPress toolbox
                    </li>
                </ul>

            </p>
            <p>
                <ul>
                    <li>
                        Writing my own HTML code to put in the website
                    </li>
                </ul>.
            </p>
            <h5>
                <strong>
                    Client: Vaya Digital Intelligence
                </strong>
            </h5>

            <h5>
                Position:  Front end Developer and UI designer
            </h5>

            <p>
                Project: Yipi
            </p>

            <p>
                Description:
            </p>
            <p>
                Yipi is health and lifestyle website where users can choose their preferred lifestyle for example if you are heavily into yoga or music.
            </p>
            <p>
                <strong>
                    Responsibilities:
                </strong>
            </p>
            <p>
                <ul>
                    <li>
                        Develop HMTL5 code for the project
                    </li>
                </ul>

            </p>
            <p>
                <ul>
                    <li>
                        Matching the project requirements
                    </li>
                </ul>

            </p>
            <p>
                <ul>
                    <li>
                        Checking everything is correct before sending to head of development
                    </li>
                </ul>

            </p>
            <p>
                <ul>
                    <li>
                        Working with Abode photoshop
                    </li>
                </ul>


            </p>

            <p>
                <ul>
                    <li>
                        Developing in bootstrap
                    </li>
                </ul>

            </p>
        </text>

        <h4>
            mLogica UK Limited (September 2014- December 2016)
        </h4>
        <text>
            <p>
                Trainee Associate
            </p>
        </text>
        <text>
            <p>
                I was responsible for assisting programming team with software development and website development.  I was also responsible for work coordination with USA, UK and Offshore team in India.

            </p>
        </text>
        <text>
            <p>
                EMS Employee Management System
            </p>
        </text>
        <text>
            <ul>
                <li>
                    Experience in developing Object oriented programming concepts with C#
                </li>
            </ul>
        </text>
        <text>
            <ul>
                <li>
                    Developed complex Stored Procedures, Indexes, and Views on MS SQL Server 2014
                </li>
            </ul>
        </text>
        <text>
            <ul>
                <li>
                    Built tables, defined data relationships and constraints in SQL Server 2014
                </li>
            </ul>
        </text>
        <text>
            <ul>
                <li>
                    Creating ERD Diagram on Microsoft word 2013 for preparation of project


                </li>
            </ul>
        </text>
        <text>
            <p>
                PSDA
            </p>
        </text>
        <text>
            <p>
                Postition : Volunteer
            </p>
        </text>
        <text>
            <p>Nov 2016-Feb 2017</p>
        </text>
        <text>
            <ul>
                <li>
                    Experince with Customer Serivce
                </li>
            </ul>
        </text>
        <text>
            <ul>
                <li>
                    Experince Helping staff in taking donations
                </li>
            </ul>
        </text>
        <text>
            <ul>
                <li>
                    Making sales account of purcharsed items in the shop
                </li>
            </ul>
        </text>
        <text>
            <ul>
                <li>
                    Selling Christmas Raffles tickets
                </li>
            </ul>
        </text>
        <text>
            <ul>
                <li>
                    Stock Rotaion
                </li>
            </ul>
        </text>
        <h3>
            Other IT Skills
        </h3>
        <text>
            <ul>
                <li>
                    MVC/ASP.NET
                </li>
            </ul>
        </text>
        <text>
            <ul>
                <li>
                    Android/Mobile Applications
                </li>
            </ul>
        </text>
        <text>
            <ul>
                <li>
                    CSS
                </li>
            </ul>
        </text>
        <text>
            <ul>
                <li>
                    Web Applications
                </li>
            </ul>
        </text>
        <text>
            <ul>
                <li>
                    C#
                </li>
            </ul>
        </text>
        <text>
            <ul>
                <li>
                    JQUERY
                </li>
            </ul>
        </text>
        <text>
            <ul>
                <li>
                    HTML5
                </li>
            </ul>
        </text>
</div>